In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine(
    "postgresql+psycopg2://lennartz@localhost:5432/citibike2023"
)

sample_sql = """
SELECT 
  start_latitude,
  start_longitude,
  end_latitude,
  end_longitude
FROM public.citibike_trips
LIMIT 5;
"""

df_sample = pd.read_sql(sample_sql, con=engine)
df_sample

   start_latitude  start_longitude  end_latitude  end_longitude
0       40.712220       -74.010472     40.709267     -74.013247
1       40.719392       -74.002472     40.727791     -73.985649
2       40.686832       -73.979677     40.689170     -73.988600
3       40.724790       -73.984301     40.723356     -73.988650
4       40.768292       -73.992563     40.739323     -74.008119